 <section class="hero-section home-page set-bg" data-setbg="assets/homes/img/bg.jpg">
    <div class="container hero-text text-white">
        <h2>Find your next</h2>
        <h1>dream home.</h1>
    </div>
</section>
